<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <footer>
      <section class="copyright-section">
        <div class="copyright-container">
          <p class="copyright-title">&copy Copyright 2020</p>
          <div class="media-links">
            <div class="flatline">rectangle</div>
            <a href="#" class="instagram">instagram</a>
            <a href="#" class="youtube">youtube</a>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
